.metric{
    padding-top: 0;
}
.metric__lista{
    display: flex;
    justify-content: space-between;
}
.metric__item{
  width: calc((280/1216)*100%);
 
}
.metric-card{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  gap: 12px;
}
.metric-card__number{
 grid-row: 1 / 1;
}
.metric-card__description{
  grid-row: 2 / 2;
  
  display: flex;
  flex-direction: column;
  gap: .5rem;
}