.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}
.cabecalho__span{
    color: var(--vinho);
}
.cabecalho__p{
    max-width: calc((791/1216)*100%);
    padding: 12px 0 11px 0;
}